<ion-nav-view title="Background selection" class="has-header">
  <div class = "title your-backrounds">Your backrounds</div>
    <ion-content padding="true">
        <ul class = "background-list">
          <div ng-repeat = "item in backgrounds" class = "background-item">
             <div class = "item-image-container">
        	      <img class = "background-item" ng-src ="{{item.picture}}" ng-click = "select(item)" ng-class = "isSelected(item)">
                </img>
                <icon class = "icon ion-checkmark-circled item-selection"></icon>
              </div>
            <div class = "sticker-name">{{item.name}}</div>
          </div>
        </ul>
    </ion-content>
</ion-nav-view>
