<ion-nav-view title="Background selection" class="has-header">
  <div class = "title your-backrounds">Shop</div>
    <ion-content padding="true">
        <ul class = "background-list">
          <div ng-repeat = "item in backgrounds" class = "background-item">
             <div class = "item-image-container">
        	      <img class = "background-item" ng-src ="{{item.picture}}" ng-click = "select(item)">
                </img>
            </div>
              <div class = "sticker-name">{{item.name}}</div>
              <div class = "sticker-name">{{'$'+item.cost}}</div>
          </div>
        </ul>
    </ion-content>
</ion-nav-view>
