<ion-view>
    <ion-content padding="true" class = "get-started" scroll = false>
        <ion-nav-bar class="bar-positive">
          <ion-nav-buttons side="left">
            <button class="button button-clear" ui-sref = "getStarted">
              <i class="ion-ios-arrow-back"></i> Back
            </button>
            </ion-nav-buttons>
        </ion-nav-bar>
      <img src = 'img/cnote.png' class = "logo"></img>
      <H3 class = "app-title">Weather wiggy</H3>
      <img src = "img/logo.png" class = "app-logo"></img>
      <button class = "button button-stable" animated-ui-sref = "signIn">Sign In</button>
      <button class = "button button-stable" animated-ui-sref = "signUp">Sign Up</button>
      <h6>or</h6>
      <div class = "socials">
        <button class = "button social" ng-click = "logInWith('twitter')">
          <img src = "img/twitter.png"></img>
        </button>
        <button class = "button social"  ng-click = "logInWith('google')">
          <img src = "img/google+.png"></img>
        </button>
        <button class = "button social"  ng-click = "logInWith('facebook')">
          <img src = "img/facebook.png"></img>
        </button>
      </div>
	</ion-content>
</ion-view>
