<ion-view>
    <ion-content padding="true" class="main-page has-not-header" scroll = "true">
      <div ng-if = weather>
        <img src = "{{weather[0].icon}}" class = "current-state"></img>
        <div class = "current-condition-text">
          {{weather[0].condition}}</div>
        <div class = "current-temperature">
          {{((weather[0].temp > 0)? "+":"")+weather[0].temp + "&deg;c"}}
        </div>
        <ion-list>
        <ion-item class = "current-weather-info-item">
          <div class = "current-weather-info-name">
            Feels like
          </div>
          <div  class = "current-weather-info-description">
            {{((weather[0].feelsLike > 0)? "+":"")+weather[0].feelsLike + "&deg;c"}}
          </div>
        </ion-item>
        <ion-item class = "current-weather-info-item">
          <div class = "current-weather-info-name">
            Humidity
          </div>
          <div  class = "current-weather-info-description">
            {{weather[0].humidity + "%"}}
          </div>
        </ion-item>
        <ion-item class = "current-weather-info-item">
          <div class = "current-weather-info-name">
            Wind
          </div>
          <div class = "current-weather-info-description">
            <div>
              {{weather[0].wind.speed + " m/s"}}
            </div>
            <div>
              {{weather[0].wind.direction.name + " (" + weather[0].wind.direction.degrees +"&deg;)"}}
            </div>
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-content>
</ion-view>
