<ion-view title="Menu">
    <div background></div>
    <ion-content padding="true" class="has-header">
        <a ui-sref="weeklyForecast" id="menu-button8" class="button button-positive  button-block">Weekly forecast</a>
        <a ui-sref="search" id="menu-button9" class="button button-positive  button-block">Search location</a>
        <a ui-sref="backgroundSelection" id="menu-button11" class="button button-positive  button-block">Background</a>
        <a ui-sref="hourlyForecast" id="menu-button13" class="button button-positive  button-block">Hourly forecast</a>
        <a ui-sref="map" id="menu-button14" class="button button-positive  button-block">Map</a>
    </ion-content>
</ion-view>