<ion-view title="Overview" id="page1">
    <div background></div>
    <ion-content padding="true" class="has-header" ui-sref = "login">
	    <div class = "app-summary blank">Summary</div>
	    <div class = "app-features blank">
	    	Features
	    	<ul class = "features">
	    		<li>Animated Weather gadget changes with weather conditions</li>
	    		<li>Up to date weather forecast</li>
	    		<li>Date/Time</li>
	    		<li>Hourly/Weekly forecast</li>
	    		<li>Weather tracking</li>
	    		<li>Atmospheric pressure</li>
	    		<li>Add your location</li>
	    		<li>Search weather if different locations</li> 
	    	</ul>
	    </div>
	</ion-content>
</ion-view>