<ion-view title="Overview" id="page1">
    <ion-content padding="true" class="has-header overview" ui-sref = "login">
      <select ng-model = "selectedLanguage" ng-change = "changeLanguage(selectedLanguage)">
        <option ng-repeat="(language, values) in strings()"  ng-selected="selectedLanguage == language" value="{{language}}">{{language}}</option>
      </select>
      <div  ng-if = "!user">
        <img class = "app-logo" src = "img/ew.jpg"></img>
        <img class = "logo" src="img/cnote.png"></img>
  	    <div class = "blank">{{strings("owerview")}}</div>
  	    <div class = "app-summary blank">{{strings("summary")}}</div>
  	    <div class = "app-features blank">
  	    	{{strings("features-title")}}
  	    	<ul class = "features">
  	    		<li ng-repeat = "feature in strings('features')">{{feature}}</li>
  	    	</ul>
  	    </div>
    </div>
    <div onboarding = ".overview"></div>
	</ion-content>
</ion-view>
