<ion-view title="Preview" id="page3">
    <div background></div>
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ul class = "blank">
                <li>{{user.name}}</li>
                <li>{{user.location.state}}</li>
                <li>{{user.location.country}}</li>
                <li>{{user.location.city}}</li>
                <li>{{user.location.email}}</li>
            </ul>
            <div class="spacer" style="height: 40px;"></div>
        </form>
        <button id="preview-button3" class="button button-positive  button-block" ng-click = "submit()">Submit</button>
    </ion-content>
</ion-view>