<ion-view>
    <ion-content padding="true" class="has-not-header">
        <ion-list>
          <ion-item class = "avatar">
            <img class = "profile-image" ng-src = "{{user.avatar}}">
            <div>
                <button class = "button button-stable" ng-click = "getAvatar()">Change Avatar</button>
            </div>
          </ion-item>
          <ion-item class = "user-item">
            <input type = "text" placeholder="Username" ng-model = "user.name"></input>
          </ion-item>
            <ion-item class = "user-item">
              <input type = "email" placeholder="Email" ng-model = "user.email" ng-show = "user.OAuth" disabled></input>
                <input type = "email" placeholder="Email" ng-model = "user.email" ng-hide = "user.OAuth"></input>
            </ion-item>
          <div ng-if = "!user.OAuth">
            <ion-item class = "user-item">
              <input type="password" placeholder="Password" ng-model = "user.password"></input>
            </ion-item>
            <ion-item class = "user-item" >
              <input type="password" placeholder="Confirm Password" ng-model = "user.confirmPassword"></input>
            </ion-item>
        </div>
        </ion-list class = "user-item">
    <button class = "button button-stable" ng-click = "save()">Save</button>
	</ion-content>
</ion-view>
