<ion-view title="Search">
    <div background></div>
    <ion-content padding="true" class="has-header">
        <div class = "blank">
            <p>Location</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="State" ng-model = "location.state">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Country" ng-model = "location.country">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="City" ng-model = "location.city">
            </label>
            <div class="spacer" style="width: 285px; height: 26px;"></div>
        </form>
        <button id="search-button16" class="button button-positive  button-block" ui-sref = "main({context:'search'})" ng-click = "submit()">Search</button>
    </ion-content>
</ion-view>