
  <div background></div>
<ion-side-menus ng-if = "background" enable-menu-with-back-views="true">
   <ion-side-menu-content>
       <ion-nav-bar class="bar-positive">
         <ion-nav-buttons side="left">
           <button class="button button-clear nav-bar-item" menu-toggle="left">
             <icon class="icon"  ng-class = "getMenuButtonClass()"></icon>
           </button>
             <button class="button button-clear nav-bar-item">
               <span class="icon ion-location">{{location.city}}</span>
             </button>
           </ion-nav-buttons>
           <ion-nav-buttons side="right">
             <button class="button button-clear nav-bar-item">
               <span class="nav-bar-item date">{{moment(date).format("MMMM.Do.YYYY")}}</span>
             </button>
           </ion-nav-buttons>
       </ion-nav-bar>
       <div background></div>
      <ion-nav-view></ion-nav-view>
   </ion-side-menu-content>

<ion-side-menu side="left">
  <ion-content class = "side-menu">
      <div class = "user-item">
        <div>
          <img class = "user-avatar" ng-src = "{{user.avatar}}"></img>
          <div class = "user-avatar-border"></div>
        </div>
        <div class = "user-name">{{user.name}}</div>
     </div>
       <ion-list>
         <ion-item class="item-icon-left" ui-sref="app.forecast.current" menu-close>
           Forecast
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.map">
          Map
       </ion-item>
       <ion-item class="item-icon-left" ui-sref="app.store.stickers" menu-close>
         Shop
       </ion-item>
       <ion-item class="item-icon-left" menu-close ui-sref="app.profile">
          Profile
       </ion-item>
       <ion-item class="item-icon-left" ui-sref="app.settings" menu-close>
        Settings
       </ion-item>
       <ion-item class="item-icon-left" ui-sref="app.about" menu-close>
        About
       </ion-item>
       <ion-item class="item-icon-left" ng-click = "logOut()" menu-close>
        Log Out
       </ion-item>
      </ion-list>
  </ion-content>
  </ion-side-menu>
</ion-side-menus>
