<ion-nav-view>
  <ion-nav-view title="Stickers selection">
      <ion-content padding="true" class="has-header has-not-header">
          <div class = "title">Your stickers</div>
          <ul class = "stickers-list">
            <div ng-repeat = "item in stickers" class = "stickers-item">
               <div class = "item-image-container">
               <img  class = "stickers-pack-image" src ="{{item.picture}}" ng-click = "select(item)" ng-class = "isSelected(item)">
                </img>
                <icon class = "icon ion-checkmark-circled item-selection"></icon>
              </div>
                <div class = "sticker-name">{{item.name}}</div>
            </div>
          </ul>
      </ion-content>
  </ion-nav-view>
</ion-nav-view>
