<ion-view>
        <ion-tabs class="tabs-positive tabs-icon-bottom">
            <ion-tab title="Stickers" ui-sref = "app.store.stickers" class = "left-tab">
                <ion-nav-view name = "stickers"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Backrounds" ui-sref = "app.store.backgrounds" class = "left-tab">
                <ion-nav-view name = "backgrounds"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Ads" ui-sref = "app.store.ads">
                <ion-nav-view name = "ads"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
</ion-view>
