<ion-view>
    <ion-content scroll = "true" padding="true" class="has-not-header">
        <ion-list class = "weather-list">
            <ion-item ng-repeat = "day in forecast" class = "day-forecast">
                <span class = "weekly-day">{{moment(day.date).format("dddd")}}</span>
                <span class = "weekly-date">{{moment(day.date).format("MMMM.Do.YYYY")}}</span>
                <img class = "weekly-condition" src = "{{day.icon}}"></img>
                <span class = "at-day-temperature high">
                  {{
                      ((day.temp.high > 0)? "+":"")+day.temp.high+ "&deg;c"
                  }}
                </span>
                <span class = "at-day-temperature low">
                  {{
                      ((day.temp.low > 0)? "+":"")+day.temp.low+ "&deg;c"
                  }}
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
